.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules
webpack.config.js
esbuild.js
eslint.config.mjs
.vscode-test.*
.env
design
dev
changelog.js
